.swiper-pagination-bullets > span {
    background-color: white !important;
}

.swiper-pagination-bullets > span{
    background-color: black !important;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -30px !important;
}


.swiper-container {
    overflow-y: visible !important;
    overflow-x: clip !important;
}

.mySwiperTrailler { width: 100% !important }