.swiper-pagination-bullet-active {
    background-color: white !important;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    background-color: rgba(79, 70, 229);
    bottom: -30px !important;
    border-radius: 10px;
}

.swiper-container {
    overflow-y: visible !important;
    overflow-x: clip !important;
}