/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    body{
        @apply bg-white dark:bg-gray-800;
    }
    
    {{ /* non black text colors */ }}

    .primaryNonDarkColorText {
        @apply tracking-tight text-gray-900;
    }

    .secundaryNonDarkColorText {
        @apply text-indigo-600 tracking-tight;
    }

    .tertiaryNonDarkColorText {
        @apply text-gray-500;
    }

    {{ /* black text colors */ }}

    .primaryDarkColorText {
        @apply tracking-tight text-white;
    }

    .secundaryDarkColorText {
        @apply text-indigo-600 tracking-tight;
    }

    .tertiaryDarkColorText {
        @apply text-gray-500;
    }


    {{ /* non black border colors */ }}
    
    .primaryNonDarkColorBorder {
        @apply border-indigo-600;
    }

    {{ /* non black background colors */ }}
    .primaryNonDarkColorBackground{
        @apply bg-indigo-600;
    }

    {{ /* non black buttons colors */ }}
    .primaryNonDarkColorButton {
        @apply flex items-center text-center px-6 py-3 mb-3 text-lg text-white bg-indigo-600 rounded-md sm:mb-0 hover:bg-indigo-700
    }
}

::-webkit-scrollbar-track {
    background-color: rgba(39, 39, 42, 1);
}
::-webkit-scrollbar {
    height: 4px;
    width: 6px;
    background: rgb(85, 85, 92);
}
::-webkit-scrollbar-thumb {
    background: rgb(80, 80, 87);
}


@keyframes neon {
    from {
        filter: drop-shadow(0 0 2px var(---cor-neon));
    }
    to {
        filter: drop-shadow(0 0 10px var(---cor-neon));
    }
}